# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# IDE files
.vscode/
.idea/

# Temporary files
tmp/
temp/

# Coverage reports
coverage/
.env.example
firebase-tracker.json
drop_index.js